body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img {
    width: 150px;
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 112, 131);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 120px;

    transition: background .2s linear, width .2s linear;
}

.btn:hover {
    background: rgb(114, 69, 100);
}

.btn.expanded {
    background: rgb(171, 44, 50);
    width: 165px; /* Задайте нужную ширину для расширенной кнопки */
}

.quantity {
    top: -60px;
    transform: translateY(-200%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
}

.quantity.show {
    opacity: 1;
}

.quantity.hide {
    opacity: 0;
}

.quantity-text {
    padding: 5px;
    background: rgb(255, 112, 131);
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.quantity-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(255, 112, 131);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.quantity-btn:hover {
    background: rgb(114, 69, 100);
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/