/* Настройки тела сайта */
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

/* Настройки карточки 1 товара */
.container {
    max-width: 390px;
}

/* Настройки контейнера товара внутри */
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

/* Настройки изображения товара */
.img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}

/* Настройка товара */
.item {
    text-align: center;
}

/* Настройки кнопок добавления товара */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 169, 23);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 1;
    font-family: sans-serif;

    transition: background .2s linear, opacity .15s linear;
}

/* Настройки кнопок добавления товара при наведении на неё */
.btn:hover {
    background: rgb(237, 150, 11);
}

/* Настройки кнопок добавления товара при нажатии */
.btn.expanded {
    /* background: rgb(171, 44, 50); */
    opacity: 0;
    /* width: 50px; */
}

/* Настройки блока выбора количества товара */
.quantity {
    top: -60px;
    transform: translateY(-100%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
}

/* Настройки блока выбора количества товара для первой кнопки */
.quantity>*:first-child {
    background: rgb(230, 77, 68);
    margin-right: 10px;
}

/* Настройки блока выбора количества товара при появлении */
.quantity.show {
    opacity: 1;
}

/* Настройки блока выбора количества товара при скрытии */
.quantity.hide {
    opacity: 0;
}

/* Настройки блока выбора количества товара, а именно текста */
.quantity-text {
    padding: 5px;
    background: rgb(237, 150, 11);
    border-radius: 100px;
    width: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    object-fit: contain;
    position: absolute;
    font-family: sans-serif;
    transform: translateY(-600%);
    top: 10px;
    right: 10px;
}

/* Настройки названия и цены товара, основной блок */
.item-info {
    margin-bottom: 8px;
}

/* Настройки названия */
.item-name {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

/* Настройки цены */
.item-price {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

/* Настройки кнопок + и - в блоке выбора количества товара */
.quantity-btn-minus,
.quantity-btn-plus {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 169, 23);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.2em;

    transition: background .2s linear;
}

/* Настройки создания большого + и - на кнопке */
.quantity-btn-plus::before,
.quantity-btn-plus::after,
.quantity-btn-minus::before,
.quantity-btn-minus::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 23px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

/* Настройка вертикальной линии на кнопке + */
.quantity-btn-plus::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* Настройка горизонтальной линии на кнопке + и - */
.quantity-btn-plus::after,
.quantity-btn-minus::after {
    transform: translate(-50%, -50%);
}

/* Настройка кнопки + при наведении */
.quantity-btn-plus:hover {
    background: rgb(237, 150, 11);
}

/* Настройка кнопки - при наведении */
.quantity-btn-minus:hover {
    background: rgb(211, 54, 45);
}

/* Переменые цветов с темы ТГ
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/