body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    /* background: rgb(28, 39, 49); */
}

.container {
    max-width: 390px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 169, 23);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 1;
    font-family: sans-serif;
    /* width: 120px; */
    
    transition: background .2s linear, opacity .15s linear;
}

.btn:hover {
    background: rgb(237, 150, 11);
}

.btn.expanded {
    /* background: rgb(171, 44, 50); */
    opacity: 0;
    /* width: 50px; */
}

.quantity {
    top: -60px;
    transform: translateY(-100%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
}

.quantity > *:first-child {
    background: rgb(230, 77, 68);
    margin-right: 10px;
}

.quantity.show {
    opacity: 1;
}

.quantity.hide {
    opacity: 0;
}

.quantity-text {
    padding: 5px;
    background: rgb(237, 150, 11);
    border-radius: 100px;
    width: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    object-fit: contain;
    position: absolute;
    font-family: sans-serif;
    transform: translateY(-600%);
    top: 10px;
    right: 10px;
}

.item-info {
    margin-bottom: 8px;
}

.item-name {
    font-family: sans-serif;
    /* color: #fff; */
    font-weight: 400;
    font-size: 1.2em;
}

.item-price {
    font-family: sans-serif;
    /* color: #fff; */
    font-weight: 700;
    font-size: 1.2em;
}

.quantity-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 169, 23);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.2em;

    transition: background .2s linear;
}

.quantity-btn:hover {
    background: rgb(237, 150, 11);
}

.quantity-btn:first-child:hover {
    background: rgb(211, 54, 45);
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/